---
import { Image } from 'astro:assets';

interface Props {
  recipe: { title: string; slug: string };
}

const { recipe } = Astro.props;
---

<a class="group" href={`/r/${recipe.slug}`}>
  <div class="cursor-pointer h-96 w-full md:w-52 relative">
    <Image
      alt="Recipe"
      class="object-cover w-full h-full"
      src={import(`../photos/${recipe.slug}.jpg`)}
      height={1000}
      width={500}
    />
    <div
      class="flex items-end justify-center h-20 w-full text-black absolute bottom-0 bg-pink-400 bg-opacity-60 group-hover:bg-opacity-100 transition-colors duration-500"
    >
      <span class="text-white pb-2">{recipe.title}</span>
    </div>
  </div>
</a>
