---
import { Image } from 'astro:assets';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Food recipes" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="manifest" href="site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="bg-pink-300 cursor-pointer w-full flex flex-row justify-center items-center"
    >
      <a href="/">
        <div class="title">
          <h1 class="text-3xl">Minna tabemos</h1>
          <span>with Noa</span>
        </div>
      </a>
      <a
        href="https://www.instagram.com/minnaisho/"
        target="_blank"
        rel="noreferrer"
      >
        <Image
          alt="logo"
          height={80}
          width={80}
          class="ml-3 rounded-full"
          src="/noa.png"
        />
      </a>
    </header>
    <div class="text-center mt-7 p-8 m-auto"><slot /></div>
    <footer class="bg-gray-800 flex p-2 text-white justify-center">
      <a rel="me" href="https://fosstodon.org/@ricardodevis">
        Follow me on Mastodon
      </a>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
    body {
      color: white;
      background: black;
    }
  }

  ul,
  body,
  html {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #222;
    background: #fafafa;
  }
  ol,
  ul {
    list-style: none outside none;
  }
  h1 {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
</style>
